

<%# Comment %>

<%# form_tag :action => 'update', :id => @some_object %>
<%# form_tag( { :action => :save, }, { :method => :post }) %>


<div style="color:#0032fg">
	<h1>Day</h1>
</div>

<div id="notes">
	<h1>Notes</h1>
	<textarea id="notebox" rows="4" cols="50"> </textarea>
</div>


<div id="header">
	<h1>City Gallery</h1>
</div>


<table width="440">
	<col width="75">
	<col width="300">
	<col width="20">
	<tr>
    	<td>3:00</td>
    	<td> <input type="text" class = "inputs"> </td> 
    	<td> <input type="checkbox" class = "check"> </td>
  	</tr>
	<tr>
    	<td>4:00</td>
    	<td> <input type="text" class = "inputs"> </td> 
    	<td> <input type="checkbox" class = "check"> </td>
  	</tr>
	<tr>
    	<td>5:00</td>
    	<td> <input type="text" class = "inputs"> </td> 
    	<td> <input type="checkbox" class = "check"> </td>
  	</tr>
	<tr>
    	<td>6:00</td>
    	<td> <input type="text" class = "inputs"> </td> 
  	</tr>
	<tr>
    	<td>7:00</td>
    	<td> <input type="text" class = "inputs"> </td> 
  	</tr>
	<tr>
    	<td>8:00</td>
    	<td> <input type="text" class = "inputs"> </td> 
  	</tr>
	<tr>
    	<td>9:00</td>
    	<td> <input type="text" class = "inputs"> </td> 
  	</tr>


</table>













<!--<div style="display: in-line" id="nav">
7:00<br>
7:30<br>
8:00<br>
9:30<br>
10:00<br>
10:30<br>
11:00<br>
11:30<br>
12:00<br>
12:30<br>
1:00<br>
1:30<br>
2:00<br>
2:30<br>
3:00<br>
3:30<br>
4:00<br>
4:30<br>
5:00<br>
5:30<br>
6:00<br>
6:30<br>
7:00<br>
7:30<br>
8:00<br>
8:30<br>
9:30<br>
10:00<br>
10:30<br>
11:00<br>
11:30<br>
12:00<br>
12:30<br>
1:00<br>
1:30<br>
2:00<br>
</div>

<div style="display: in-line" id="section">
<form action="demo_form.asp">
  	<input type="text" class = "inputs" size="50">  
 	<input type="text" class = "inputs" size="50">  
 	<input type="text" class = "inputs" size="50">  
 	<input type="text" class = "inputs" size="50">  
 	<input type="text" class = "inputs" size="50">  
 	<input type="text" class = "inputs" size="50">  
 	<input type="text" class = "inputs" size="50">  
 	<input type="text" class = "inputs" size="50">  
 	<input type="text" class = "inputs" size="50">  
 	<input type="text" class = "inputs" size="50">  
 	<input type="text" class = "inputs" size="50">  
 	<input type="text" class = "inputs" size="50">  
 	<input type="text" class = "inputs" size="50">  
 	<input type="text" class = "inputs" size="50">  
 	<input type="text" class = "inputs" size="50">  
 	<input type="text" class = "inputs" size="50">  
 </form>


</form>
<p>Standing on the River Thames, London has been a major settlement for two millennia,
its history going back to its founding by the Romans, who named it Londinium.</p>
</div>

-->























<%#= "Count to 10" %>
<br />
<%# 11.times do |i| %>
	<%#= i %>
<%# end %>

<%# if(params.has_key?(:id) && params.has_key?(:random)) %> <br/> 
	<%#= "ID : #{params[:id]}" %><br/>
	<%#= "RANDOM : #{params[:random]}" %><br/>
<%# end %>
